body {
  background-color: #282a36;
  font-family: 'Vazir', "tahoma", "sans-serif" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"] ::-webkit-input-placeholder,
input[type="femail"] ::-webkit-input-placeholder,
input[type="number"] ::-webkit-input-placeholder {
  color: #f8f8f4;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  color: #f8f8f4 !important;
  border-color: #44475a !important;
  border-color: #bd93f9 !important;
}
.form-control {
  background-color: #44475a !important;
  color: #f8f8f4 !important;
  border-color: #bd93f9 !important;
}
